:root {
  font-size: 100%;
  scroll-behavior: smooth;
  --btn-cta-links: #185fa5;
  --navbar-footer: #0d1b2a;
  --icons-badges-hover: #378add;
  --cards-tags: #e6f1fb;
  --bg: #f5f4f0;
  --main-text: #2c2c2a;
  --second-text: #888780;
  --second-font: "Roboto", "Inter", Sans-serif;
  --main-font: "Inter", "Roboto", Sans-serif;
  --btn-shadow: 0px 8px 12px -8px #00000080;
  --trancisiones:
    background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

body {
  background-color: var(--bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: var(--bg);
  position: relative;
  color: var(--second-text);
  padding-top: 30px;
}

.icon-dark {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100px;
}

.icon-light {
  display: none;
}

.form-container .form-background {
  display: none;
}

form {
  position: relative;
  background-color: var(--bg);
  padding: 80px 24px;
  font-family: var(--second-font);
}

h1 {
  color: var(--main-text);
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  margin-bottom: 16px;
  word-break: keep-all;
  hyphens: none;
}

.subtitulo {
  color: var(--main-text);
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--second-font);
  margin-bottom: 16px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;
  position: relative;
}

input {
  color: #000000;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #00000015;
}

input::placeholder {
  color: #000000;
  opacity: 0.6;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: var(--btn-shadow);
  background-color: var(--btn-cta-links);
  color: var(--cards-tags);
  transition: var(--trancisiones);
  font-family: var(--main-font);
  margin-top: 32px;
}

button:hover {
  background-color: var(--icons-badges-hover);
}

.referencia {
  font-size: 0.7rem;
  position: absolute;
  bottom: -12px;
}

input:user-valid {
  outline: 1px solid #008000;
}

input:user-invalid {
  outline: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  position: absolute;
  bottom: 30px;
  text-align: center;
}

@media (min-width: 455px) {
  .form-container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 60px 24px;
  }

  form {
    border-radius: 16px;
    max-width: 520px;
    box-shadow: 0 0 8px 4px #00000015;
  }

  h1 {
    font-size: 2rem;
  }

  input {
    padding: 12px;
  }
}

@media (min-width: 1124px) {
  body {
    display: grid;
    align-items: center;
    background-color: var(--bg);
    padding: 32px 0;
  }

  .icon-dark {
    display: none;
  }

  .form-container {
    margin: auto;
    width: 80%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    padding: 0;
    box-shadow: 0 0 12px 4px #00000015;
  }

  .icon-light {
    display: block;
    position: absolute;
    width: 100px;
    top: 24px;
    left: 24px;
  }
  .form-container .form-background {
    display: block;
    border-radius: 16px 0 0 16px;
    width: 100%;
  }

  form {
    padding: 60px 16px;
    border-radius: 0 16px 16px 0;
    box-shadow: none;
    height: 100%;
  }

  label {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 2.2rem;
  }
}
