:root {
  font-size: 100%;
  scroll-behavior: smooth;
  --btn-cta-links: #185fa5;
  --navbar-footer: #0d1b2a;
  --icons-badges-hover: #378add;
  --cards-tags: #e6f1fb;
  --bg: #f5f4f0;
  --main-text: #2c2c2a;
  --second-text: #888780;
  --second-font: "Roboto", "Inter", Sans-serif;
  --main-font: "Inter", "Roboto", Sans-serif;
  --btn-shadow-blanco: 0 4px 14px #185fa540;
  --btn-shadow-azul: 0 4px 12px #185fa533;
  --btn-shadow-hover-azul: 0 8px 20px rgba(55, 138, 221, 0.3);
  --btn-shadow-hover-blanco: 0 8px 22px rgba(55, 138, 221, 0.35);
  --btn-transform-blanco: translateY(-2px);
  --btn-transform-azul: translateY(-1px);
  --input-shadow-bg-blanco: inset 0 2px 4px rgba(139, 134, 122, 0.05);
  --input-shadow-bg-azul: inset 0 1px 3px rgba(115, 125, 140, 0.05);
  --input-border-bg-blanco: border: 1px solid #e1ded5;
  --input-border-bg-azul: border: 1px solid #d2e4f7;
  --input-shadow-bg-blanco-focus: 0 0 0 4px rgba(24, 95, 165, 0.15);
  --input-shadow-bg-azul-hover: 0 4px 12px rgba(115, 125, 140, 0.08);
  color: #000000;
  --trancisiones:
    background-color 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
  --border-block-azul: 1px solid #ffffff;
  --shadow-block-azul: 0 10px 30px -5px rgba(139, 134, 122, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

.form-container {
  background-color: var(--bg);
  position: relative;
  color: var(--second-text);
  padding-top: 30px;
  height: 100vh;
}

.icon-dark {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 80px;
}

.icon-light {
  display: none;
}

.form-container .form-background {
  display: none;
}

form {
  position: relative;
  /* background-color: var(--bg); */
  padding: 40px 12px;
  font-family: var(--second-font);
}

h1 {
  color: var(--main-text);
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  margin-bottom: 16px;
  word-break: keep-all;
  hyphens: none;
}

.subtitulo {
  color: var(--main-text);
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--second-font);
  margin-bottom: 16px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  margin-bottom: 12px;
  position: relative;
}

input {
  outline: none;
  background-color: #ffffff;
  border-radius: 8px;
  border: var(--input-border-bg-blanco);
  box-shadow: var(--input-shadow-bg-blanco);
  color: #000000;
  padding: 8px;
}

input::placeholder {
  color: #000000;
  opacity: 0.6;
}

input:focus {
  border-bottom-color: var(--bg);
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: var(--btn-shadow);
  background-color: var(--btn-cta-links);
  color: var(--cards-tags);
  transition: var(--trancisiones);
  transform: var(--btn-transform-blanco);
  font-family: var(--main-font);
  margin-top: 16px;
}

button:hover {
  background-color: var(--icons-badges-hover);
  transform: var(--btn-transform-blanco);
  box-shadow: var(--btn-shadow-hover-blanco);
}

.referencia {
  font-size: 0.7rem;
  position: absolute;
  bottom: -4px;
}

input:user-valid {
  outline: 1px solid #008000;
}

input:user-invalid {
  outline: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

@media (min-width: 455px) {
  .form-container {
    padding: 64px 0;
  }

  .icon-dark {
    width: 120px;
  }

  form {
    border-radius: 16px;
    background-color: var(--cards-tags);
    max-width: 520px;
    margin: auto;
    padding: 60px 24px;
    border: var(--border-block-azul);
    box-shadow: var(--shadow-block-azul);
  }

  .label-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  label {
    padding: 0;
  }

  input {
    background-color: #dbeaf8;
    border: 1px solid transparent;
    box-shadow: none;
  }

  input:hover {
    background-color: #ffffff;
    border-color: #a4cbf3;
    box-shadow: var(--input-shadow-bg-azul-hover);
  }

  .referencia {
    bottom: -24px;
  }

  button {
    margin-top: 32px;
    box-shadow: var(--btn-shadow-azul);
    transform: var(--btn-transform-azul);
  }

  button:hover {
    box-shadow: var(--btn-shadow-hover-azul);
  }

  .error-message {
    bottom: 40px;
  }
}
